body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
}

.pdf-viewer {
    width: 30%;
    height: 30vh;
}

.return-home {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease; /* Effet de transition pour le survol */
}

.return-home:hover {
    background-color: #0056b3; /* Un bleu plus foncé lors du survol */
}

button {
    background-color: #4CAF50; /* Couleur verte */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

@media (max-width: 768px) { /* Pour les écrans plus petits comme les tablettes */
    .pdf-viewer {
        height: 50vh;
    }
}

@media (max-width: 480px) { /* Pour les mobiles */
    .pdf-viewer {
        height: 20vh;
    }
}
