body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #007bff; /* Couleur de fond bleue */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Organise les enfants en colonne */
    height: 200px; /* Ajustez selon vos besoins */
    padding: 20px 0; /* Ajoute un peu d'espace en haut et en bas */
}

.header-content {
    text-align: center;
    width: 100%; /* Assurez-vous que le conteneur prend toute la largeur */
}

.pdf-viewer {
    width: 30%;
    height: 30vh;
}

h1 {
    margin: 10px 0 0 0; /* Ajustez la marge supérieure si nécessaire */
    color: white; /* Couleur du texte pour le titre */
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0; /* Ajustez selon l'espacement désiré entre le titre et les boutons */
    display: flex;
    justify-content: center; /* Centre les liens horizontalement */
    flex-direction: row; /* Les éléments de la liste sont alignés horizontalement */
}

.nav-links li {
    margin: 0 10px; /* Espacement horizontal entre les liens */
}

.return-home {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.tabs {
    padding: 10px 20px;
    background-color: #e97b08; /* Couleur orange des boutons */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

button {
    background-color: #4CAF50; /* Couleur verte */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

@media (max-width: 768px) { /* Pour les écrans plus petits comme les tablettes */
    .pdf-viewer {
        height: 50vh;
    }
}

@media (max-width: 480px) { /* Pour les mobiles */
    .pdf-viewer {
        height: 20vh;
    }
}
